  <!-- footer section start -->
  {% load static %}

  <div class="footer_section">
    <div class="container">
      <div class="location_text text-center">
        <ul class="list-inline mb-0">
          <li class="list-inline-item"><a href="#"><i class="fa fa-map-marker"></i></a></li>
          <li class="list-inline-item"><a href="#"><i class="fa fa-phone"></i></a></li>
          <li class="list-inline-item"><a href="#"><i class="fa fa-envelope"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
  <!-- copyright -->
  <div class="copyright_section text-center py-2">
    <p class="mb-0">
      © 2020 All Rights Reserved. Design by
      <a href="https://html.design">Free Html Templates</a>,
      Distribution by <a href="https://themewagon.com">ThemeWagon</a>
    </p>
  </div>

  <!-- JS files -->
  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/popper.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'js/plugin.js' %}"></script>
  <script src="{% static 'js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
  <script src="{% static 'js/custom.js' %}"></script>

  <script>
    $('#myCarousel').carousel({ interval: false });
    $("#myCarousel").on("touchstart", function(e) {
      var yClick = e.originalEvent.touches[0].pageY;
      $(this).one("touchmove", function(e){
        var yMove = e.originalEvent.touches[0].pageY;
        if (yClick - yMove > 1) $(this).carousel('next');
        else if (yClick - yMove < -1) $(this).carousel('prev');
      });
      $(this).on("touchend", function(){ $(this).off("touchmove"); });
    });
  </script>
</body>
</html>
